:root{ /*customProperty*/
    --blanco:#ffffff;
    --negro: #000000;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #dfe9f3;
    --verdito: #c4c39c;
    --naranjito: #ffda9e;
    --lila: #c8c4ef;
    --rosaPastel: #ffc5bf;
    
}
/* Globales */
html{
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model*/
   /* scroll-snap-type: y mandatory ; /*se utilizará esto para que cuando en la pagina web alguien haga scroll hacia abajo, se baje directamente hacia el contenido que queremos que mire
                                    Lo estoy probando en FireFox y en Chrome y funciona bien pero en otros navegadores no*/
background-image: url(../img/1806.jpg);
}
*, *:before, *:after{ /* a todos los elementos se le pondra el border box*/
    box-sizing: inherit;
}
 
body{
    font-size: 16px; /*1rem=10px*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #efefef;
   
}

.contenedor{
    max-width: 120rem; /*el ancho total, lo utilizaré para centrar el menú*/
    margin: 0 auto 0 auto;
}
.boton{
    background-color: var(--lila);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}
@media (min-width: 768px) { /*responsive del botón de contactar*/
    .boton{
        width: auto;
    }
}
.boton:hover{
    cursor: pointer;
}
.sombraBoton{
    -webkit-box-shadow: -1px 2px 25px 8px rgba(201,161,201,1);
    -moz-box-shadow: -1px 2px 25px 8px rgba(201,161,201,1);
    box-shadow: -1px 2px 25px 8px rgba(201,161,201,1);
}

.sombra{
    -webkit-box-shadow: 0px 5px 23px 0px rgba(38,38,38,0.75);
    -moz-box-shadow: 0px 5px 23px 0px rgba(38,38,38,0.75);
    box-shadow: 0px 5px 23px 0px rgba(38,38,38,0.75);  
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;

}
/* Tipografía */
h1{
    font-size: 3.8rem;
    
}
h2{
    font-size: 2.8rem;
    
}
h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}

/* Títulos */
.titulo span{
    font-size: 2rem;
}
/*Utilidades*/

.w-sm100{
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm100{
        width: auto;
    }
    
}
.flex{
    display: flex;
}
.alinear-derecha{
    justify-content:center;
}


/* Navegación Principal*/

.nav-background{
    background-color: var(--lila);
    
}
.navPrincipal{
    
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .navPrincipal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navPrincipal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    text-align: center;
}
.navPrincipal a:hover{
    background-color: var(--naranjito);
    color: var(--negro);
}

/* Imagen */

.baner{
    background-image: url(../img/sakura.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;

}
.contenido-baner{
    position: absolute;
    background-color: rgb(0,0,0,.6);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-baner h1, .contenido-baner h2, .contenido-baner p{
    color: var(--blanco);
}

/*Scroll Snap
.servicios, .navPrincipal, .formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}*/

/* Servicios */

@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /*se mide en fracciones, en este caso 3*/
        column-gap: 10px;
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}
.servicio p{
    line-height: 2; /* está mas alineado*/
    text-align: center; /*con esto centraré mas el texto*/
}
.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--verdito);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* contacto */

.formulario{
    background-image: url(../img/castillo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: min(60rem,100%);/*utilizar el valor mas pequeño, el min toma el ancho al formulario entre el numero mas pequeño entre 60rem y el 100%, se puede utilizar en vez de query*/
    margin: 0 auto; /*lo utilizo para centrarlo en la pagina */
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--negro);
}

/*Contenedor formulario*/
@media (min-width: 768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    
    }
}

.campo:nth-child(3), .campo:nth-child(4){ /*Selecciono el tercer hijo con nombre campo para poder seleccionarlo*/

    grid-column: 1 / 3;

}
.campo{
    margin-bottom: 1rem ;
}
.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block; /*pondremos todos los campos a rellenar en una columna*/
}
.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 1.5rem;
}

/*footer*/
.footer{
    text-align: center;
    background-color: var(--lila);
    margin-top: 5rem;
        
}
.footer a{
    text-decoration: none;
    color: black;
}

